<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Basic Information</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <div class="form-section">
            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="First Name"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="Last Name"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="Email"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="number" placeholder="Phone"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-textarea placeholder="Bio (optional)"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="Address Line1"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="Address Line1"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-input type="text" placeholder="City"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <ion-select value="alabama" okText="Okay" cancelText="Dismiss">
                        <ion-select-option value="alabama">Alabama, USA</ion-select-option>
                        <ion-select-option value="alaska">Alaska, USA</ion-select-option>
                        <ion-select-option value="aizona">Arizona, USA</ion-select-option>
                        <ion-select-option value="arkansas">Arkansas, USA</ion-select-option>
                        <ion-select-option value="california">California, USA</ion-select-option>
                        <ion-select-option value="colorado">Colorado, USA</ion-select-option>
                        <ion-select-option value="connecticut">Connecticut, USA</ion-select-option>
                        <ion-select-option value="delaware">Delaware, USA</ion-select-option>
                        <ion-select-option value="florida">Florida, USA</ion-select-option>
                        <ion-select-option value="georgia">Georgia, USA</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col size="6">
                    <ion-input type="Number" placeholder="Zip Code"></ion-input>
                </ion-col>

            </ion-row>
        </div>
    </ion-grid>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" class="continue" type="submit">Update<img src="assets/imgs/button-img.png" /> </ion-button>
    </ion-toolbar>
</ion-footer>