ion-header {
    ion-toolbar {
        --background: var(--ion-color-second);
        --border-color: #021a3d;
        ion-title,
        ion-back-button {
            color: #fff;
            letter-spacing: 1px;
        }
    }
}

ion-content {
    --background: var(--ion-color-second);
    ion-grid {
        background: var(--ion-color-second);
        min-height: 100%;
        ion-row {
            margin: 50px 15px;
            text-align: center;
            h4 {
                color: #fff;
                margin-top: 3rem;
            }
            p {
                line-height: 22px;
                letter-spacing: .5px;
                color: #788695;
                margin-top: 25px;
                margin-bottom: 4px;
            }
            .sec-para {
                margin-top: 0 !important;
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        --border-color: #021a3d;
        --background: var(--ion-color-second);
        padding: 10px;
        ion-button {
            --border-radius: 100px;
            height: 60px;
            --background: #007aff;
            --background-hover: #007aff;
            --background-focused: #007aff;
            --background-activated: #007aff;
            letter-spacing: 1px;
            font-size: 18px;
            img {
                position: absolute;
                right: 9px;
                width: 47px;
                --background-color: #007aff;
            }
        }
    }
}