<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Today’s History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">

        <div class="search_section">
            <ion-searchbar placeholder="Search"></ion-searchbar>
        </div>
        <ion-row class="list-section border-none">
            <ion-col size="3" class="img-section">
                <img src="assets/imgs/h1.png" />
            </ion-col>
            <ion-col size="9">
                <div class="right-data">
                    <p><span class="gray-text">Colour: </span><span class="blue-txt"> Grey</span> </p>
                    <span class="distance">3.3 ml</span>
                </div>
                <h4>ABC Vehicle</h4>
                <p class="car-no"><span class="gray-text">Car No:</span> KNO123</p>
                <p><span class="c-name gray-text">Customer Name</span></p>
                <p class="time"><img src="assets/imgs/time-info.png" />2:10 PM-3:10PM</p>
                <p>6\5 Main Road, Main Street US</p>
            </ion-col>
        </ion-row>

        <ion-row class="list-section">
            <ion-col size="3" class="img-section">
                <img src="assets/imgs/h2.png" />
            </ion-col>
            <ion-col size="9">
                <div class="right-data">
                    <p><span class="gray-text">Colour: </span><span class="blue-txt"> Grey</span> </p>
                    <span class="distance">3.3 ml</span>
                </div>
                <h4>ABC Vehicle</h4>
                <p class="car-no"><span class="gray-text">Car No:</span> KNO123</p>
                <p><span class="c-name gray-text">Customer Name</span></p>
                <p class="time"><img src="assets/imgs/time-info.png" />2:10 PM-3:10PM</p>
                <p>6\5 Main Road, Main Street US</p>
            </ion-col>
        </ion-row>

        <ion-row class="list-section">
            <ion-col size="3" class="img-section">
                <img src="assets/imgs/h3.png" />
            </ion-col>
            <ion-col size="9">
                <div class="right-data">
                    <p><span class="gray-text">Colour: </span><span class="blue-txt"> Grey</span> </p>
                    <span class="distance">3.3 ml</span>
                </div>
                <h4>ABC Vehicle</h4>
                <p class="car-no"><span class="gray-text">Car No:</span> KNO123</p>
                <p><span class="c-name gray-text">Customer Name</span></p>
                <p class="time"><img src="assets/imgs/time-info.png" />2:10 PM-3:10PM</p>
                <p>6\5 Main Road, Main Street US</p>
            </ion-col>
        </ion-row>

        <ion-row class="list-section">
            <ion-col size="3" class="img-section">
                <img src="assets/imgs/h1.png" />
            </ion-col>
            <ion-col size="9">
                <div class="right-data">
                    <p><span class="gray-text">Colour: </span><span class="blue-txt"> Grey</span> </p>
                    <span class="distance">3.3 ml</span>
                </div>
                <h4>ABC Vehicle</h4>
                <p class="car-no"><span class="gray-text">Car No:</span> KNO123</p>
                <p><span class="c-name gray-text">Customer Name</span></p>
                <p class="time"><img src="assets/imgs/time-info.png" />2:10 PM-3:10PM</p>
                <p>6\5 Main Road, Main Street US</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>