ion-header {
    ion-toolbar {
        --background: var(--ion-color-second);
        --border-color: #021a3d;
        ion-title,
        ion-back-button {
            color: #fff;
            letter-spacing: 1px;
        }
    }
}

ion-content {
    --background: var(--ion-color-second);
    .main-grid {
        border-radius: 25px 25px 0 0;
        margin-top: 15px;
    }
    ion-grid {
        background: #fff;
        padding: 15px;
        .details {
            color: var(--ion-color-second);
        }
        ion-checkbox {
            position: relative;
            top: 22px;
            --border-radius: 18%;
            --background-checked: #e8820b;
            --border-color-checked: #e8820b;
            right: 8px;
        }
        .order-full-details {
            background: #ffffff;
            padding: 10px 0px;
            border-radius: 15px;
            box-shadow: 2px 6px 18px #dcdcdc;
            margin-bottom: 2rem;
            .profile-name-section {
                padding: 0px 12px;
                h4 {
                    margin-top: 10px;
                    color: #000;
                }
                span {
                    background: rgba(0, 122, 255, 0.28);
                    position: absolute;
                    color: #007aff;
                    font-weight: 700;
                    font-size: 17px;
                    padding: 10px 17px;
                    border-radius: 100px;
                    right: 0;
                    top: 5px;
                }
            }
            .user-details-section {
                padding: 0px 12px;
                img {
                    width: 100%;
                    border-radius: 15px;
                    height: 100%;
                }
                ion-icon {
                    color: #007aff !important;
                    font-size: 26px !important;
                    position: relative;
                    top: 8px;
                }
                p {
                    font-size: 18px !important;
                    margin: 0;
                    margin-bottom: 6px;
                }
                span.order {
                    position: absolute;
                    top: 78%;
                    left: 25%;
                    transform: translate(-40%, -50%);
                    text-align: center;
                    background: #007aff;
                    color: #fff;
                    padding: 8px 8px;
                    border-radius: 0px 50px 50px 0px;
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    width: 87%;
                }
            }
        }
        .order-item-section {
            background: #fff;
            padding: 0px 0px;
            border-radius: 15px;
            box-shadow: rgb(149 157 165 / 10%) 0px 4px 20px;
            margin-top: 2rem;
            .order-item {
                background: #007aff;
                border-radius: 15px 15px 0px 0px;
                padding: 0 10px;
                h4 {
                    color: #fff;
                    margin: 0;
                    margin-top: 12px;
                    span {
                        position: relative;
                        top: -8px;
                        right: 10px;
                    }
                }
                ion-icon {
                    background: #fff;
                    padding: 4px;
                    color: #007aff;
                    border-radius: 6px;
                    font-size: 24px;
                }
            }
            .total-price {
                padding: 0px 10px;
                border-bottom: 1px solid #becad3;
                h4 {
                    color: #000;
                }
                .price {
                    color: #007aff;
                }
            }
            .prepaid {
                padding-bottom: 8px;
                padding: 0px 10px;
                h4 {
                    color: #000;
                }
            }
        }
        .process-bar {
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            width: 80%;
        }
        .box {
            background: #fff;
            padding: 0px 0px;
            border-radius: 15px;
            box-shadow: rgb(149 157 165 / 10%) 0px 4px 20px;
            margin-top: 1rem;
            min-height: 80px;
            h4 {
                color: #788695;
                font-size: 17px;
                font-weight: 400 !important;
                letter-spacing: .5px;
                margin-top: 26px;
            }
            .bus-icon {
                top: 21px;
                width: 50px;
            }
            img {
                width: 40px;
                position: relative;
                top: 12px;
            }
        }
    }
    .map_sec {
        background-color: #fff;
        div#map {
            height: 170px;
            width: 100%;
        }
    }
}

ion-footer {
    ion-toolbar {
        padding: 10px;
        ion-button {
            --border-radius: 100px;
            height: 60px;
            --background: #007aff;
            --background-hover: #007aff;
            --background-focused: #007aff;
            --background-activated: #007aff;
            letter-spacing: 1px;
            font-size: 18px;
            img {
                position: absolute;
                right: 9px;
                width: 47px;
                --background-color: #007aff;
            }
        }
    }
}