<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Tip Driver</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="main-row">
            <ion-col>
                <img src="assets/imgs/trip.png" />
                <h4>Tripping For</h4>
                <h3>Jasse Basse</h3>
            </ion-col>
        </ion-row>

        <ion-row class="box">
            <ion-col size="10" text-left>
                <ion-input type="text" placeholder="Trip Amount"></ion-input>
            </ion-col>
            <ion-col size="2" text-center>
                <p>$</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" class="continue" type="submit" [routerLink]="['/signin']">Submit<img src="assets/imgs/button-img.png" /> </ion-button>
    </ion-toolbar>
</ion-footer>