<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Privacy Policy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="checkmark-img">
            <ion-col size="12">
                <img src="assets/imgs/check-mark.png">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h4>Privacy Policy</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam nam officia iure molestias exercitationem modi sunt at, minima quaerat quos recusandae dolorem, odit ut, numquam aliquid a distinctio. Ex, unde!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore hic ullam error sunt nemo laborum impedit accusantium vitae libero corporis eaque voluptas autem doloribus maiores facilis cum, atque et ut!</p>
            </ion-col>
        </ion-row>
       
    </ion-grid>
</ion-content>
