.desktop {
    width: 25px;
}

ion-label {
    color: #000;
    margin-top: 8px;
    font-size: 12px !important;
    font-weight: 700;
    display: none;
}

ion-tab-bar {
    --background: #021a3d;
    padding: 6px 0px;
    border: none;
}

.barbers {
    margin-top: 3px !important;
}

.c_msg {
    width: 29px !important;
}

.d_t {
    width: 34px;
}