ion-header {
    ion-toolbar {
        --background: var(--ion-color-second);
        --border-color: #021a3d;
        ion-title,
        ion-back-button {
            color: #fff;
            letter-spacing: 1px;
        }
    }
}

ion-content {
    --background: var(--ion-color-second);
    ion-grid {
        background: #fff;
        border-radius: 25px 25px 0 0;
        margin-top: 15px;
    }
}

.offer_listing {
    ion-row {
        div {
            background: #f3f3f3 !important;
            margin-top: 10px;
            border-radius: 100px;
            height: 55px;
            padding: 8px 12px;
        }
    }
    h3 {
        margin-bottom: 27px;
    }
    ion-input {
        --padding-bottom: 12px!important;
    }
}

span.selected ion-icon[name="heart"] {
    color: green;
    font-size: 22px;
}

.sign_up_button {
    --border-radius: 100px;
    height: 60px;
    --background: #007aff;
    --background-hover: #007aff;
    --background-focused: #007aff;
    --background-activated: #007aff;
    letter-spacing: 1px;
    font-size: 18px;
    width: 100%;
    --padding-top: 24px;
    --padding-bottom: 24px;
    --padding-start: 1em;
    --padding-end: 1em;
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 12px;
    right: 2px;
    font-size: 18px;
    text-transform: capitalize;
}

ion-icon {
    margin-top: 5px;
    font-size: 26px;
}

ion-card-title {
    font-size: 22px;
}

ion-card-content {
    padding: 0px!important;
}

ion-card {
    box-shadow: none;
    margin: 0px;
}

.slider-section {
    ion-slides {
        height: 234px;
        .img_sec {
            height: 200px;
            padding-top: 3px;
            margin-top: 5px;
        }
    }
}

.img-section {
    padding: 0px 13px;
    .paypal-img {
        position: relative;
        top: 10px;
    }
}

.cancel {
    --background: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    color: #007aff;
    border: 2px solid #007aff !important;
    border-radius: 100px;
    width: 100%;
    opacity: 1;
    position: relative;
    right: 2px;
    height: 62px;
    font-size: 18px;
    text-transform: capitalize;
}

form {
    ion-grid {
        padding: 10px !important;
    }
}