<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Delivery Info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row class="upload-section">
            <ion-col size="12" text-center>
                <img src="assets/imgs/up-camera.png">
                <h4>Add Photos</h4>
            </ion-col>
        </ion-row>

        <ion-row class="uploaded-section">
            <ion-col size="6">
                <div class="cancle-icon">
                    <img src="assets/imgs/cancel-icon.png">
                </div>
                <img src="assets/imgs/u1.png">
            </ion-col>
            <ion-col size="6">
                <div class="cancle-icon">
                    <img src="assets/imgs/cancel-icon.png">
                </div>
                <img src="assets/imgs/u2.png">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="block" class="continue" type="submit" [routerLink]="">Confirm </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="block" class="cancel" type="submit" [routerLink]="">Cancel</ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>