<ion-header class="header_sec">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>FAQ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="!readyposts">
            <ion-col class="ion-text-center">
                <ion-spinner name="lines"></ion-spinner>
            </ion-col>
        </ion-row>

        <div *ngIf="post" class="singlepost">
            <h4 [innerHTML]="post.title.rendered"></h4>
            <div class="comment_text_sec" [innerHTML]="post.content.rendered" padding></div>
        </div>

        <ion-row>

        </ion-row>
    </ion-grid>
</ion-content>