<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>Accepted Delivery</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-row class="overlay-section">
                    <ion-col size="3">
                        <img src="assets/imgs/pizza-mind.png">
                    </ion-col>
                    <ion-col size="9">
                        <h4>Pizza Mind</h4>
                        <p>
                            <ion-icon name="star"></ion-icon>
                            4.5</p>
                    </ion-col>
                </ion-row>
                <img src="assets/imgs/hotel-pic.png">
            </ion-col>
        </ion-row>

        <div class="details">
            <ion-row class="User_details">
                <ion-col size="6">
                    <p class="address">
                        <ion-icon name="pin"></ion-icon>USA
                    </p>
                </ion-col>
                <ion-col size="6" text-right>
                    <p>
                        <ion-icon name="call"></ion-icon>+123567890</p>
                </ion-col>
            </ion-row>
        </div>
        <ion-row class="delevery-price-section">
            <ion-col size="6">
                <h4 class="d-price">Delivery Price</h4>
            </ion-col>
            <ion-col size="6">
                <h4 class="price">$50.00</h4>
            </ion-col>
        </ion-row>



        <ion-row class="details-ratting-section">
            <ion-col size="12">
                <h3 class="details">Delivery Price</h3>
            </ion-col>
        </ion-row>

        <div class="order-full-details">
            <ion-row class="profile-name-section">
                <ion-col size="2">
                    <img src="assets/imgs/p.png">
                </ion-col>
                <ion-col size="6">
                    <h4 class="details">Jonsan Jase</h4>
                </ion-col>
                <ion-col size="4">
                    <span>3.3 mi</span>
                </ion-col>
            </ion-row>

            <div class="user-details-section">
                <ion-row class="User_details">
                    <ion-col size="5">
                        <span class="order">Order <strong>#4996</strong> </span>
                        <img src="assets/imgs/pizza.png">
                    </ion-col>
                    <ion-col size="7">
                        <div>
                            <p>
                                <ion-icon name="calendar"></ion-icon>
                                15 Jan 2021
                            </p>
                            <p>
                                <ion-icon name="time"></ion-icon>
                                2:00 PM
                            </p>
                            <p>
                                <ion-icon name="pin"></ion-icon>
                                4\5 street,Main Road,UK
                            </p>
                        </div>
                    </ion-col>

                </ion-row>
            </div>
        </div>

        <div class="order-full-details">
            <ion-row class="profile-name-section">
                <ion-col size="2">
                    <img src="assets/imgs/p.png">
                </ion-col>
                <ion-col size="6">
                    <h4 class="details">Jonsan Jase</h4>
                </ion-col>
                <ion-col size="4">
                    <span>3.3 mi</span>
                </ion-col>
            </ion-row>

        </div>

        <div class="order-item-section">
            <ion-row class="order-item">
                <ion-col size="6">
                    <h4>Order Items</h4>
                </ion-col>
                <ion-col size="6" text-right>
                    <h4> <span>5</span>
                        <ion-icon name="add"></ion-icon>
                    </h4>
                </ion-col>
            </ion-row>
            <ion-row class="food-item">
                <ion-col size="3">
                    <img src="assets/imgs/u1.png">
                </ion-col>
                <ion-col size="6">
                    <h4>01 Food Item</h4>
                    <p>
                        <ion-icon name="remove"></ion-icon> <span>5</span>
                        <ion-icon name="add"></ion-icon>
                    </p>
                </ion-col>
                <ion-col size="3" text-right>
                    <h5> $50.00</h5>
                </ion-col>
            </ion-row>


            <ion-row class="food-item">
                <ion-col size="3">
                    <img src="assets/imgs/u2.png">
                </ion-col>
                <ion-col size="6">
                    <h4>02 Food Item</h4>
                    <p>
                        <ion-icon name="remove"></ion-icon> <span>5</span>
                        <ion-icon name="add"></ion-icon>
                    </p>
                </ion-col>
                <ion-col size="3" text-right>
                    <h5> $50.00</h5>
                </ion-col>
            </ion-row>

            <ion-row class="food-item">
                <ion-col size="3">
                    <img src="assets/imgs/u1.png">
                </ion-col>
                <ion-col size="6">
                    <h4>03 Food Item</h4>
                    <p>
                        <ion-icon name="remove"></ion-icon> <span>5</span>
                        <ion-icon name="add"></ion-icon>
                    </p>
                </ion-col>
                <ion-col size="3" text-right>
                    <h5> $50.00</h5>
                </ion-col>
            </ion-row>
            <ion-row class="total-price">
                <ion-col size="6">
                    <h4>Total Price</h4>
                </ion-col>
                <ion-col size="6" text-right>
                    <h4 class="price">$250.00</h4>
                </ion-col>
            </ion-row>

            <ion-row class="prepaid">
                <ion-col size="6">
                    <h4>Prepaid</h4>
                </ion-col>
                <ion-col size="6" text-right>
                    <ion-checkbox checked="true"></ion-checkbox>
                </ion-col>
            </ion-row>
        </div>
        <p class="delivery-ins">Delivery Instruction</p>
    </ion-grid>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" class="continue" type="submit">Update Status<img src="assets/imgs/button-img.png" /> </ion-button>
    </ion-toolbar>
</ion-footer>